@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Inter';
    scroll-behavior: smooth;
}

@media (max-width: 500px) {
    
#heading{
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
}
#myimage{
    margin-top: 20px;
}
#heading1{
    font-size: 22px;
    font-weight: 700;
}
#sendbutton{
    width: 80%;
    height: 50px;
    font-size: 12px;
    text-align: center;
}
}

#profile-image{
    width: 200px;
    height: 300px;
    margin-top: 20px;
    align-self: center;
}

#project-box {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.416), 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
}

#project-box:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.959), 0px 4px 6px rgba(0, 0, 0, 0.071); /* Enhanced shadow on hover for dark mode *//* Light mode shadow */
    transform: translateY(-5px); /* Slight lift effect */
}



@keyframes typing-once {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-once {
    0%, 100% { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }
  
  /* Add in your CSS */
  .animate-typing-once {
    width: fit-content;
    animation: typing-once 3s steps(20, end) 1, blink-once 0.75s step-end 5;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
  }
  